/* globals.css */
:root {
    --primary-color: #0D47A1;
    --secondary-color: #1e90ff;
    --accent-color: #badc58;
    --text-color: #333;
    --bg-light: #f8f9fa;
    --bg-dark: #2c3e50;
    --text-light: #fff;
    --hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
/* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a global font style */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}
html {
    scroll-behavior: smooth;
  }
  /* Dark Mode Support */
body.dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-light);
  }
  
  


  